# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/src/.next/
/src/out/

# production
/src/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/src/.env.local
/src/.env.development.local
/src/.env.test.local
/src/.env.production.local

# vercel
.vercel
