#incanvas-menu {
  background-color: #e3e3e3;
}

#main-menu .button, #main-menu a {
  padding-top: .4em;
  padding-bottom: 0;
}

.height100 {
  height: 100%;
}

#singer-menu a {
  line-height: 1.4em;
}
